extends layout

block content
  h1= title
  - const classes=[["$5000","pesat","seshasai"],["$8000","polo","seshasai"],["$9000","bogo","seshasaai"]]
  div(class="container-fluid")
     - for(const i in classes)
        {
             div(class="row") i 
                - for(let y=0;y<i.length;y++)
                 {
                    div(class="col-sm-2") "element ${y} is ${classes[0][y]}
                 }
        }
         
         